<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>医院感染信息监测系统 </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root Internist, General Practitonery -->

    <!-- CSS here -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/animate.min.css">
    <link rel="stylesheet" href="../../css/magnific-popup.css">
    <link rel="stylesheet" href="../../fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../../css/dripicons.css">
    <link rel="stylesheet" href="../../css/slick.css">
    <link rel="stylesheet" href="../../css/default.css">
    <link rel="stylesheet" href="../../css/meanmenu.css">
    <link rel="stylesheet" href="../../css/style.css">


    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/vue.min.js"></script>
    <script src="/js/axios.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>


    <link rel="stylesheet" href="../../css/responsive.css">
    <style type="text/css">
        .user{
            display: inline;
        }
        .patient{
            width: 350px;
            /* height: 400px; */
            background-color: #D9E6F5;
        }
        .card-footer{
            display: flex;
            justify-content: space-between;
        }
        /*动画加载*/
        .loading {
            position: fixed;
            left: 0;
            top: 0;
            /*background: url('/img/three-dots.svg') center center no-repeat #fff;*/
            background-color: white;
            width: 100vw;
            height: 100vh;
            z-index: 1000;
            /*opacity: 0.8;*/
        }

       .main {
            height: 100px;
            width: 100px;
            margin: 200px auto
        }
        .main div {
            color: #799761;
            margin: 50px auto;
        }
        svg {
            fill:none
        }
        .load{
            stroke-width: 15px;
            stroke-dasharray: 252;
            stroke-dashoffset: 0;
            animation: load 1.5s ease-in-out infinite;
            transform-origin: center center

        }
        .one{
            stroke: #b8d8d7;
        }
        .two{
            stroke: #73c0b0;
            animation-delay: 0.1s;
        }
        .three{
            stroke: #4d8f8e;
            animation-delay: 0.2s
        }
        @keyframes load {
            0%,100% {
                stroke-dashoffset: 252
            }
            50% {
                stroke-dashoffset: 230
            }
            100% {
                transform:rotate(360deg)
            }
        }
        .jump{
            animation: jump 0.5s ease-in-out infinite
        }
        .first{
            fill: #b8d8d7;
        }
        .second {
            fill:#73c0b0;
            animation-delay: 0.1s;
        }
        .third{
            fill:#4d8f8e;
            animation-delay: 0.2s;
        }
        @keyframes jump{
            0% ,100%{
                transform: translateY(0)
            }
            50% {
                transform: translateY(-10px)
            }
        }
        .el-dialog{
            width: 30%;
        }
        .el-dialog__header{
            text-align: center;
        }
        .dialog-footer{
            text-align: center;
        }
        .pt-120{
            padding-top: 50px;
        }
        .second-menu .main-menu ul li:nth-child(2){
            border-bottom: #0b3e6f 3px solid;
        }

    </style>
</head>
<body>
<!-- header -->
<div class="headerpage_m"></div>
<!-- header-end -->
<!-- main-area -->
<main  id="dcims">
    <!-- breadcrumb-area -->
    <section class="breadcrumb-area d-flex align-items-center" style="background-color: #82A2C2;min-height: 100px">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                    <div class="breadcrumb-wrap text-center">
                        <div class="breadcrumb-title mb-30">
                            <h2>用户管理</h2>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- shop-area -->
    <section class="shop-area pt-120 pb-120 p-relative wow fadeInUp animated" data-animation="fadeInUp animated" data-delay=".2s">
        <div class="container">
            <div   v-if="isLoading" class="loading">
                <div class="main">
                    <svg viewBox="0 0 120 120">
                        <circle class="load one" cx="60" cy="60" r="40"></circle>
                        <circle class="load two" cx="60" cy="60" r="40"></circle>
                        <circle class="load three" cx="60" cy="60" r="40"></circle>
                        <circle class="jump first" cx="45" cy="60" r="5"></circle>
                        <circle class="jump second" cx="60" cy="60" r="5"></circle>
                        <circle class="jump third" cx="75" cy="60" r="5"></circle>
                    </svg>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <h6 align="right" class="mt-20 mb-30">用户信息</h6>
                </div>
                <div class="col-lg-6 col-sm-6 text-right">
                    <select name="orderby" class="orderby" aria-label="Shop order" v-model="selRole" @change="getUsers">
                        <option value="popularity" :value="item.role" v-for="item in userEXEList">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="align-items-center" style="text-align: center;margin: 0px auto">
                <div class="col-lg-12 col-md-12">
                    <el-table
                            border
                            :data="users.slice((currentPage-1)*pagesize,currentPage*pagesize)"
                            stripe
                            style="width: 100%">
                        <el-table-column
                                show-overflow-tooltip
                                prop="id"
                                label="ID"
                        >
                        </el-table-column>
                        <el-table-column
                                show-overflow-tooltip
                                prop="username"
                                label="用户名"
                        >
                        </el-table-column>
                        <el-table-column
                                show-overflow-tooltip
                                prop="name"
                                label="用户姓名"
                        >
                        </el-table-column>
                        <el-table-column
                                show-overflow-tooltip
                                prop="roleStr"
                                label="角色"
                        >
                        </el-table-column>
                        <el-table-column
                                show-overflow-tooltip
                                prop="regTimeStr"
                                label="注册时间"
                        >
                        </el-table-column>
                        <el-table-column
                                show-overflow-tooltip
                                prop="checkTime"
                                label="审核时间"
                        >
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope" style="text-align: center">
                                <el-button
                                        v-if="scope.row.role==0"
                                        size="medium "
                                        type="primary"
                                        style="margin-top: 5px;margin-left: 10px"
                                        @click="check(scope.row)">审核</el-button>
                                <el-button
                                        v-else
                                        size="medium "
                                        type="primary"
                                        style="margin-top: 5px;margin-left: 10px"
                                        @click="edit(scope.row)">修改密码</el-button>
                                <el-button
                                        v-if="user.id!=scope.row.id&&scope.row.role!=1"
                                        size="medium "
                                        type="primary"
                                        style="margin-top: 5px"
                                        @click="deleteUser(scope.row)">删除</el-button>
                                <div v-if="user.id==scope.row.id" style="margin-top: 5px">
                                    <span  style="color: red;display: block">此用户为当前登录用户</span>
                                </div>
                            </template>
                        </el-table-column>
                    </el-table>


                </div><!--class="col-lg-4 col-md-6"-->

            </div>

            <div class="row">
                <div class="col-12">
                    <div class="pagination-wrap mt-50 text-center">
                        <div style="text-align: center;margin-top: 30px;">
                            <el-pagination
                                    :page-size="pagesize"
                                    background
                                    layout="prev, pager, next"
                                    :total="total"
                                    @current-change="current_change">
                            </el-pagination>
                        </div>
                    </div>
                </div>
                <div></div></div>
        </div>
    </section>
    <el-dialog title="修改密码" :show-close="false" :visible.sync="dialogFormVisible">
        <el-form :model="passwd">
            <el-form-item label="新密码" :label-width="formLabelWidth">
                <el-input placeholder="请输入密码" v-model="passwd.newPWD" auto-complete="off" show-password></el-input>
            </el-form-item>
            <el-form-item label="重复密码" :label-width="formLabelWidth">
                <el-input placeholder="请再次输入密码" v-model="passwd.repeatPWD" auto-complete="off" show-password></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="updatePwdCancel">取 消</el-button>
            <el-button type="primary" @click="updatePwdOk">确 定</el-button>
        </div>
    </el-dialog>
    <!-- shop-area-end -->
</main>
<!-- main-area-end -->
<!-- footer -->

<!-- footer-end -->
<div class="footerpage_m"></div>

<!-- JS here -->
<!-- JS here -->
<script src="../../js/vendor/modernizr-3.5.0.min.js"></script>
<script src="../../js/vendor/jquery-1.12.4.min.js"></script>
<script src="../../js/popper.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/one-page-nav-min.js"></script>
<script src="../../js/jquery.meanmenu.min.js"></script>
<script src="../../js/slick.min.js"></script>
<script src="../../js/ajax-form.js"></script>
<script src="../../js/paroller.js"></script>
<script src="../../js/wow.min.js"></script>
<script src="../../js/js_isotope.pkgd.min.js"></script>
<script src="../../js/imagesloaded.min.js"></script>
<script src="../../js/parallax.min.js"></script>
<script src="../../js/jquery.waypoints.min.js"></script>
<script src="../../js/jquery.counterup.min.js"></script>
<script src="../../js/jquery.scrollUp.min.js"></script>
<script src="../../js/parallax-scroll.js"></script>
<script src="../../js/jquery.magnific-popup.min.js"></script>
<script src="../../js/element-in-view.js"></script>
<script src="../../js/main.js"></script>
<script>
    $(function() {
        //调用公共代码
        $('.footerpage_m').load('/commons/footer.html');
        $('.headerpage_m').load('/commons/header.html');

        $(".exit").click(function logout() {
            $.ajax({
                type: "post",
                url: "/logout",
                dataType:"json",
                data: {

                },
                success: function (res) {
                    if(res.code==200){
                        window.location.href="http://192.168.150.130:8089/pages/login.html";
                    }else{
                        alert("退出失败")
                    }
                }
            })
        })

        new Vue({
            el:"#dcims",
            data:{
                localhost:"http://192.168.150.130:8089",
                total:0,
                pagesize:3,
                currentPage:1,
                selRole:2,
                userId:"",
                userEXEList:[
                    {role:1,name:"监测人员"},
                    {role:0,name:"未审核"},
                    {role:2,name:"管理员"},
                    {role:3,name:"医生"}
                ],
                passwd:{newPWD:"",repeatPWD:""},
                users:[],
                formLabelWidth:"120px",
                user:{},
                userOne:{},
                nowDate:"",
                isLoading: true,
                dialogFormVisible:false
            },
            methods:{
                deleteUser:function (item){
                    delete item["regTime"]
                    var that=this
                    $.ajax({
                        url: this.localhost+"/admin/delUser",
                        type:"post",
                        data:item,
                        success:function (res) {
                            if(res.flag){
                                that.$message({
                                    message: '删除成功',
                                    center: true,
                                    type: 'success'
                                });
                                that.getUsers()
                            }else {
                                that.$message({
                                    message: '该用户已存在其他相关信息，不能删除',
                                    center: true,
                                    type: 'error'
                                });
                            }
                        },
                        error:function (){
                            that.$message({
                                message: '该用户已存在其他相关信息，不能删除',
                                center: true,
                                type: 'error'
                            });
                        }
                    })
                },
                getUsers:function () {
                    var that=this;
                    $.ajax({
                        url: this.localhost+"/admin/getUsers",
                        type:"post",
                        data:{
                            role:that.selRole
                        },
                        success:function (res) {
                            that.users=res.users
                            that.user=res.user
                            $(".username-show").text(that.user.name)
                            that.total=that.users.length
                            that.isLoading=false
                        }
                    })
                },
                current_change:function(currentPage){
                    this.currentPage = currentPage;
                },
                logout:function () {
                    $.ajax({
                        type: "post",
                        url:  this.localhost+"/logout",
                        dataType:"json",
                        data: {

                        },
                        success: function (res) {
                            if(res.code==200){
                                window.location.href="http://192.168.150.130:8089/pages/login.html";
                            }else{
                                alert("退出失败")
                            }
                        }
                    })
                },
                check:function (user) {
                    var that=this;
                    $.ajax({
                        url: this.localhost+"/admin/check",
                        type:"post",
                        data:{
                            id:user.id
                        },
                        success:function (res) {
                            that.users=res.users;
                            that.total=that.users.length
                            if(res.flag){
                                that.$message({
                                    message: '审核成功',
                                    center: true,
                                    type: 'success'
                                });
                            }else{
                                that.$message({
                                    message: '审核失败',
                                    center: true,
                                    type: 'error'
                                });
                            }
                            that.isLoading=false
                        }
                    })
                },
                edit:function (user) {
                    var user1=JSON.parse(JSON.stringify(user))
                    this.userOne=user1;
                    this.dialogFormVisible=true;
                },
                updatePwdOk:function () {
                    var that=this;
                    if(this.passwd.newPWD!=this.passwd.repeatPWD){
                        this.passwd.repeatPWD=""
                        this.$message({
                            message: '两次密码不一致，请重新输入',
                            center: true,
                            type: 'warning'
                        });
                        return;
                    }
                    $.ajax({
                        url: this.localhost+"/admin/updatePwd",
                        type:"post",
                        data:{
                            password:this.passwd.newPWD,
                            id:this.userOne.id,
                            role:this.userOne.role
                        },
                        success:function (res) {

                            that.users=res.users
                            that.total=that.users.length
                            that.isLoading=false
                            if(res.flag){
                                that.$message({
                                    message: '密码修改成功',
                                    center: true,
                                    type: 'success'
                                });
                            }else{
                                that.$message({
                                    message: '密码修改失败',
                                    center: true,
                                    type: 'error'
                                });
                            }
                            that.passwd.repeatPWD=""
                            that.passwd.newPWD=""
                        }
                    })
                    this.dialogFormVisible=false;
                },
                updatePwdCancel:function () {
                    this.dialogFormVisible=false;
                    this.passwd.repeatPWD=""
                    this.passwd.newPWD=""
                }

            },
            created:function () {
                Date.prototype.format = function(format){
                    var o = {
                        "M+" : this.getMonth()+1, //month
                        "d+" : this.getDate(), //day
                        "h+" : this.getHours(), //hour
                        "m+" : this.getMinutes(), //minute
                        "s+" : this.getSeconds(), //second
                        "q+" : Math.floor((this.getMonth()+3)/3), //quarter
                        "S" : this.getMilliseconds() //millisecond
                    }
                    if(/(y+)/.test(format)) {
                        format = format.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
                    }
                    for(var k in o) {
                        if(new RegExp("("+ k +")").test(format)) {
                            format = format.replace(RegExp.$1, RegExp.$1.length==1 ? o[k] : ("00"+ o[k]).substr((""+ o[k]).length));
                        }
                    }
                    return format;
                }
                this.nowDate=new Date().format("yyyy年MM月dd日 hh:mm:ss")
                this.getUsers()
                var that=this
                $.ajax({
                    url: this.localhost + "/user/getUser",
                    type: "post",
                    data: {},
                    success: function (res) {
                        that.user = res.user
                        $(".username-show").text(that.user.name)
                    }
                })
            }
        })
    })

</script>
</body>
</html>
